DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.TU_PROJECT_REF
DB_PASSWORD=TU_PASSWORD
DB_NAME=postgres
DB_SSLMODE=require

CEREBRAS_API_KEY_1=
CEREBRAS_API_KEY_2=
CEREBRAS_API_KEY_3=
CEREBRAS_API_KEY_4=
CEREBRAS_API_KEY_5=
CEREBRAS_API_KEY_6=
CEREBRAS_API_KEY_7=
CEREBRAS_API_KEY_8=
CEREBRAS_API_KEY_9=
CEREBRAS_API_KEY_10=
CEREBRAS_MODEL=