DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.PROJECT_REF
DB_PASSWORD=PASSWORD
DB_NAME=postgres
DB_SSLMODE=require

CEREBRAS_API_KEY_1=APIKEY
CEREBRAS_API_KEY_2=APIKEY
CEREBRAS_API_KEY_3=APIKEY
CEREBRAS_API_KEY_4=APIKEY
CEREBRAS_API_KEY_5=APIKEY
CEREBRAS_API_KEY_6=APIKEY
CEREBRAS_API_KEY_7=APIKEY
CEREBRAS_API_KEY_8=APIKEY
CEREBRAS_API_KEY_9=APIKEY
CEREBRAS_API_KEY_10=APIKEY
CEREBRAS_MODEL=MODELNAME
